{% extends "base.html" %}
{% block content %}
    <table class="statblock" width="75%" border="1">
        <thead>
            <tr>
                <td class="inverted centered" colspan="5">{{ weapon.name }}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="centered" width="20%">{{ weapon.equipment_slot.name }}</td>
                <td class="centered" width="20%">{{ weapon.weapon_type.name }}</td>
                <td class="centered" width="20%">{% if weapon.tags[0] is defined %}{{ weapon.tags[0].name }}{% else %}-{% endif %}</td>
                <td class="centered" width="20%">{% if weapon.tags[1] is defined %}{{ weapon.tags[1].name }}{% else %}-{% endif %}</td>
                <td class="centered" width="20%">{% if weapon.tags[2] is defined %}{{ weapon.tags[2].name }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td colspan="5">
                    [Attack Power {{ weapon.attack }} / Magic Power {{ weapon.magic }} / Accuracy {{ weapon.accuracy }} / Initiative {{ weapon.initiative }} / Range {{ weapon.range }}]
                    {{ weapon.description }}
                </td>
            </tr>
            <tr>
                <td class="inverted" width="20%">Rank</td>
                <td width="20%">{{ weapon.rank }}</td>
                <td class="inverted" colspan="2" width="40%">Cost</td>
                <td width="20%">{{ weapon.price }}G</td>
            </tr>
        </tbody>
    </table>
{% endblock %}