@import "global";

html {
  font-family: arial;
  font-size: 12px;
  z-index: 1;
}

.form-lightbox {
  display: none;
  width: 75%;
  height: 75%;
  background: #FF00FF;
  margin: 0 auto;
  z-index: 1000;

  .statblock {
    border: 0;
  }
}

.content {
  width: 50%;
  margin: 0 auto;

  li {
    text-align: left;
  }
}

.statblock {
  width: 100%;
  border: 1px solid;

  /* CSS sorcery for special styling when there are 6+ children */
  td:nth-last-child(n+6) ~ td, td:nth-last-child(n+6):first-child {
    width: calc(100% / 6);
  }
}
